/* 

Project Name: Cookie Monster 
Client: Cookie Monster
Author: Chris Castig  
Developed in NYC

*/

html {
	/* set up a background image */
	
	background: url('../images/Party.jpg') no-repeat;

	
	/* the follow is the code to have the image display as a full page */
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	color: whitesmoke;
}

#container {
	width:  650px;
	padding: 5px;
	opacity: 0.75;
}

h1{
	font-size: 60px;
	color: whitesmoke;
	padding: 5px;
}

h2{
	font-size: 40px;
	color: whitesmoke;
	padding: 5px;
}

